$activeText = #2a9d8f
$activeTab = #70c1b3

.TaskSearch
  text-align center

  .el-pagination.is-background .el-pager li:not(.disabled).active
    background: $activeText;

  .el-pager li:hover
    color #e76f51 !important
