<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.waynechu.renting.dal.renting.mapper.HouseMapper">
    <resultMap id="BaseResultMap" type="com.waynechu.renting.dal.renting.entity.House">
        <constructor>
            <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long"/>
            <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="price" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="area" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="room" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="floor" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="total_floor" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="watch_times" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="build_year" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="city_en_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="region_en_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="cover" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="direction" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="distance_to_subway" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="parlour" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="district" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="admin_id" jdbcType="BIGINT" javaType="java.lang.Long"/>
            <arg column="bathroom" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="street" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="create_user" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="update_user" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="is_deleted" jdbcType="BIT" javaType="java.lang.Boolean"/>
        </constructor>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, title, price, area, room, floor, total_floor, watch_times, build_year, status, 
    city_en_name, region_en_name, cover, direction, distance_to_subway, parlour, district, 
    admin_id, bathroom, street, create_user, create_time, update_user, update_time,
    is_deleted
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.waynechu.renting.dal.renting.entity.HouseExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from house
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from house
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from house
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <delete id="deleteByExample" parameterType="com.waynechu.renting.dal.renting.entity.HouseExample">
        delete from house
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.waynechu.renting.dal.renting.entity.House">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into house (title, price, area,
        room, floor, total_floor,
        watch_times, build_year, status,
        city_en_name, region_en_name, cover,
        direction, distance_to_subway, parlour,
        district, admin_id, bathroom,
        street, create_user, create_time,
        update_user, update_time, is_deleted
        )
        values (#{title,jdbcType=VARCHAR}, #{price,jdbcType=INTEGER}, #{area,jdbcType=INTEGER},
        #{room,jdbcType=INTEGER}, #{floor,jdbcType=INTEGER}, #{totalFloor,jdbcType=INTEGER},
        #{watchTimes,jdbcType=INTEGER}, #{buildYear,jdbcType=INTEGER}, #{status,jdbcType=INTEGER},
        #{cityEnName,jdbcType=VARCHAR}, #{regionEnName,jdbcType=VARCHAR}, #{cover,jdbcType=VARCHAR},
        #{direction,jdbcType=INTEGER}, #{distanceToSubway,jdbcType=INTEGER}, #{parlour,jdbcType=INTEGER},
        #{district,jdbcType=VARCHAR}, #{adminId,jdbcType=BIGINT}, #{bathroom,jdbcType=INTEGER},
        #{street,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
        #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=BIT}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.waynechu.renting.dal.renting.entity.House">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into house
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">
                title,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="area != null">
                area,
            </if>
            <if test="room != null">
                room,
            </if>
            <if test="floor != null">
                floor,
            </if>
            <if test="totalFloor != null">
                total_floor,
            </if>
            <if test="watchTimes != null">
                watch_times,
            </if>
            <if test="buildYear != null">
                build_year,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="cityEnName != null">
                city_en_name,
            </if>
            <if test="regionEnName != null">
                region_en_name,
            </if>
            <if test="cover != null">
                cover,
            </if>
            <if test="direction != null">
                direction,
            </if>
            <if test="distanceToSubway != null">
                distance_to_subway,
            </if>
            <if test="parlour != null">
                parlour,
            </if>
            <if test="district != null">
                district,
            </if>
            <if test="adminId != null">
                admin_id,
            </if>
            <if test="bathroom != null">
                bathroom,
            </if>
            <if test="street != null">
                street,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=INTEGER},
            </if>
            <if test="area != null">
                #{area,jdbcType=INTEGER},
            </if>
            <if test="room != null">
                #{room,jdbcType=INTEGER},
            </if>
            <if test="floor != null">
                #{floor,jdbcType=INTEGER},
            </if>
            <if test="totalFloor != null">
                #{totalFloor,jdbcType=INTEGER},
            </if>
            <if test="watchTimes != null">
                #{watchTimes,jdbcType=INTEGER},
            </if>
            <if test="buildYear != null">
                #{buildYear,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="cityEnName != null">
                #{cityEnName,jdbcType=VARCHAR},
            </if>
            <if test="regionEnName != null">
                #{regionEnName,jdbcType=VARCHAR},
            </if>
            <if test="cover != null">
                #{cover,jdbcType=VARCHAR},
            </if>
            <if test="direction != null">
                #{direction,jdbcType=INTEGER},
            </if>
            <if test="distanceToSubway != null">
                #{distanceToSubway,jdbcType=INTEGER},
            </if>
            <if test="parlour != null">
                #{parlour,jdbcType=INTEGER},
            </if>
            <if test="district != null">
                #{district,jdbcType=VARCHAR},
            </if>
            <if test="adminId != null">
                #{adminId,jdbcType=BIGINT},
            </if>
            <if test="bathroom != null">
                #{bathroom,jdbcType=INTEGER},
            </if>
            <if test="street != null">
                #{street,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.waynechu.renting.dal.renting.entity.HouseExample"
            resultType="java.lang.Integer">
        select count(*) from house
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update house
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.title != null">
                title = #{record.title,jdbcType=VARCHAR},
            </if>
            <if test="record.price != null">
                price = #{record.price,jdbcType=INTEGER},
            </if>
            <if test="record.area != null">
                area = #{record.area,jdbcType=INTEGER},
            </if>
            <if test="record.room != null">
                room = #{record.room,jdbcType=INTEGER},
            </if>
            <if test="record.floor != null">
                floor = #{record.floor,jdbcType=INTEGER},
            </if>
            <if test="record.totalFloor != null">
                total_floor = #{record.totalFloor,jdbcType=INTEGER},
            </if>
            <if test="record.watchTimes != null">
                watch_times = #{record.watchTimes,jdbcType=INTEGER},
            </if>
            <if test="record.buildYear != null">
                build_year = #{record.buildYear,jdbcType=INTEGER},
            </if>
            <if test="record.status != null">
                status = #{record.status,jdbcType=INTEGER},
            </if>
            <if test="record.cityEnName != null">
                city_en_name = #{record.cityEnName,jdbcType=VARCHAR},
            </if>
            <if test="record.regionEnName != null">
                region_en_name = #{record.regionEnName,jdbcType=VARCHAR},
            </if>
            <if test="record.cover != null">
                cover = #{record.cover,jdbcType=VARCHAR},
            </if>
            <if test="record.direction != null">
                direction = #{record.direction,jdbcType=INTEGER},
            </if>
            <if test="record.distanceToSubway != null">
                distance_to_subway = #{record.distanceToSubway,jdbcType=INTEGER},
            </if>
            <if test="record.parlour != null">
                parlour = #{record.parlour,jdbcType=INTEGER},
            </if>
            <if test="record.district != null">
                district = #{record.district,jdbcType=VARCHAR},
            </if>
            <if test="record.adminId != null">
                admin_id = #{record.adminId,jdbcType=BIGINT},
            </if>
            <if test="record.bathroom != null">
                bathroom = #{record.bathroom,jdbcType=INTEGER},
            </if>
            <if test="record.street != null">
                street = #{record.street,jdbcType=VARCHAR},
            </if>
            <if test="record.createUser != null">
                create_user = #{record.createUser,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateUser != null">
                update_user = #{record.updateUser,jdbcType=VARCHAR},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.isDeleted != null">
                is_deleted = #{record.isDeleted,jdbcType=BIT},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update house
        set id = #{record.id,jdbcType=BIGINT},
        title = #{record.title,jdbcType=VARCHAR},
        price = #{record.price,jdbcType=INTEGER},
        area = #{record.area,jdbcType=INTEGER},
        room = #{record.room,jdbcType=INTEGER},
        floor = #{record.floor,jdbcType=INTEGER},
        total_floor = #{record.totalFloor,jdbcType=INTEGER},
        watch_times = #{record.watchTimes,jdbcType=INTEGER},
        build_year = #{record.buildYear,jdbcType=INTEGER},
        status = #{record.status,jdbcType=INTEGER},
        city_en_name = #{record.cityEnName,jdbcType=VARCHAR},
        region_en_name = #{record.regionEnName,jdbcType=VARCHAR},
        cover = #{record.cover,jdbcType=VARCHAR},
        direction = #{record.direction,jdbcType=INTEGER},
        distance_to_subway = #{record.distanceToSubway,jdbcType=INTEGER},
        parlour = #{record.parlour,jdbcType=INTEGER},
        district = #{record.district,jdbcType=VARCHAR},
        admin_id = #{record.adminId,jdbcType=BIGINT},
        bathroom = #{record.bathroom,jdbcType=INTEGER},
        street = #{record.street,jdbcType=VARCHAR},
        create_user = #{record.createUser,jdbcType=VARCHAR},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        update_user = #{record.updateUser,jdbcType=VARCHAR},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
        is_deleted = #{record.isDeleted,jdbcType=BIT}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.waynechu.renting.dal.renting.entity.House">
        update house
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=INTEGER},
            </if>
            <if test="area != null">
                area = #{area,jdbcType=INTEGER},
            </if>
            <if test="room != null">
                room = #{room,jdbcType=INTEGER},
            </if>
            <if test="floor != null">
                floor = #{floor,jdbcType=INTEGER},
            </if>
            <if test="totalFloor != null">
                total_floor = #{totalFloor,jdbcType=INTEGER},
            </if>
            <if test="watchTimes != null">
                watch_times = #{watchTimes,jdbcType=INTEGER},
            </if>
            <if test="buildYear != null">
                build_year = #{buildYear,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="cityEnName != null">
                city_en_name = #{cityEnName,jdbcType=VARCHAR},
            </if>
            <if test="regionEnName != null">
                region_en_name = #{regionEnName,jdbcType=VARCHAR},
            </if>
            <if test="cover != null">
                cover = #{cover,jdbcType=VARCHAR},
            </if>
            <if test="direction != null">
                direction = #{direction,jdbcType=INTEGER},
            </if>
            <if test="distanceToSubway != null">
                distance_to_subway = #{distanceToSubway,jdbcType=INTEGER},
            </if>
            <if test="parlour != null">
                parlour = #{parlour,jdbcType=INTEGER},
            </if>
            <if test="district != null">
                district = #{district,jdbcType=VARCHAR},
            </if>
            <if test="adminId != null">
                admin_id = #{adminId,jdbcType=BIGINT},
            </if>
            <if test="bathroom != null">
                bathroom = #{bathroom,jdbcType=INTEGER},
            </if>
            <if test="street != null">
                street = #{street,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.waynechu.renting.dal.renting.entity.House">
    update house
    set title = #{title,jdbcType=VARCHAR},
      price = #{price,jdbcType=INTEGER},
      area = #{area,jdbcType=INTEGER},
      room = #{room,jdbcType=INTEGER},
      floor = #{floor,jdbcType=INTEGER},
      total_floor = #{totalFloor,jdbcType=INTEGER},
      watch_times = #{watchTimes,jdbcType=INTEGER},
      build_year = #{buildYear,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      city_en_name = #{cityEnName,jdbcType=VARCHAR},
      region_en_name = #{regionEnName,jdbcType=VARCHAR},
      cover = #{cover,jdbcType=VARCHAR},
      direction = #{direction,jdbcType=INTEGER},
      distance_to_subway = #{distanceToSubway,jdbcType=INTEGER},
      parlour = #{parlour,jdbcType=INTEGER},
      district = #{district,jdbcType=VARCHAR},
      admin_id = #{adminId,jdbcType=BIGINT},
      bathroom = #{bathroom,jdbcType=INTEGER},
      street = #{street,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>