<?xml version="1.0" encoding="UTF-8"?>
<!-- 从高到低 OFF、FATAL、ERROR、WARN、INFO、DEBUG、TRACE、ALL -->
<!-- 日志输出规则 根据当前 ROOT 级别，日志输出时，级别高于root默认的级别会输出 -->
<!-- scan: 配置文件发生改变就会被重新加载，默认值为true
     scanPeriod: 监测配置文件是否有修改的时间间隔，如果没有给出时间单位则默认是毫秒。当scan为true时，此属性生效。默认的时间间隔为1分钟。
     debug:当此属性设置为true时，将打印出logback内部日志信息，实时查看logback运行状态。默认值为false。 -->
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context" name="sentryEnable" source="sentry.enable" defaultValue="false"/>

    <springProperty scope="context" name="elkEnable" source="elk.enable" defaultValue="false"/>
    <springProperty scope="context" name="elkHost" source="elk.host" defaultValue="localhost"/>
    <springProperty scope="context" name="elkPort" source="elk.port" defaultValue="5672"/>
    <springProperty scope="context" name="elkUsername" source="elk.username" defaultValue="guest"/>
    <springProperty scope="context" name="elkPassword" source="elk.password" defaultValue="guest"/>
    <springProperty scope="context" name="elkVirtualHost" source="elk.virtual-host" defaultValue="/"/>
    <springProperty scope="context" name="elkExchange" source="elk.exchange" defaultValue="topic.loggingExchange"/>
    <springProperty scope="context" name="elkRoutingKey" source="elk.routing-key" defaultValue="logback.#"/>
    <springProperty scope="context" name="elkApplicationId" source="elk.application-id" defaultValue="anonymous"/>
    <springProperty scope="context" name="elkConnectionName" source="elk.connection-name" defaultValue="undefined"/>

    <!-- 引入自定义日志配置 -->
    <include file="src/main/resources/logback-custom-spring.xml" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <if condition='property("sentryEnable").contains("true")'>
        <then>
            <appender name="Sentry" class="io.sentry.logback.SentryAppender">
                <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                    <level>ERROR</level>
                </filter>
            </appender>
        </then>
    </if>

    <if condition='property("elkEnable").contains("true")'>
        <then>
            <appender name="ELK" class="org.springframework.amqp.rabbit.logback.AmqpAppender">
                <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                    <level>INFO</level>
                </filter>
                <host>${elkHost}</host>
                <port>${elkPort}</port>
                <username>${elkUsername}</username>
                <password>${elkPassword}</password>
                <applicationId>${applicationId}</applicationId>
                <virtualHost>${elkVirtualHost}</virtualHost>
                <exchangeName>${elkExchange}</exchangeName>
                <exchangeType>topic</exchangeType>
                <declareExchange>true</declareExchange>
                <routingKeyPattern>${elkRoutingKey}</routingKeyPattern>
                <autoDelete>false</autoDelete>
                <generateId>true</generateId>
                <durable>true</durable>
                <deliveryMode>PERSISTENT</deliveryMode>
                <charset>UTF-8</charset>
                <contentType>text/json</contentType>
                <connectionName>${elkConnectionName}</connectionName>
                <layout class="cn.waynechu.bootstarter.logger.layout.RabbitmqLayout"/>
            </appender>
        </then>
    </if>

    <springProfile name="prd,test,ut">
        <logger name="com" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <if condition='property("sentryEnable").contains("true")'>
                <then>
                    <appender-ref ref="Sentry"/>
                </then>
            </if>
            <if condition='property("elkEnable").contains("true")'>
                <then>
                    <appender-ref ref="ELK"/>
                </then>
            </if>
        </logger>

        <logger name="cn" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <if condition='property("sentryEnable").contains("true")'>
                <then>
                    <appender-ref ref="Sentry"/>
                </then>
            </if>
            <if condition='property("elkEnable").contains("true")'>
                <then>
                    <appender-ref ref="ELK"/>
                </then>
            </if>
        </logger>

        <logger name="org" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <if condition='property("sentryEnable").contains("true")'>
                <then>
                    <appender-ref ref="Sentry"/>
                </then>
            </if>
            <if condition='property("elkEnable").contains("true")'>
                <then>
                    <appender-ref ref="ELK"/>
                </then>
            </if>
        </logger>
    </springProfile>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>