<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>统一认证服务</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
</head>
<body>
<div class="container form-margin-top">
    <form class="form-signin" action="/login" method="POST">
        <h2 class="form-signin-heading" style="text-align:center">统一认证服务</h2>
        <label for="username" class="form-margin-top">帐号:</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="账号" required autofocus>
        <label for="password">密码:</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="密码" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登 录</button>
    </form>
</div>
<footer>
    <p>© 2007-2020 waynechu.cn, All Rights Reserved</p>
    <p>email: <a href="mailto:waynechu@waynechu.cn">waynechu@waynechu.cn</a>.</p>
</footer>
</body>
</html>